{% set root = uri|split('/')[1] %}
{% if root is empty %}
    {% set home_active = "active" %}
{% elseif root == "config" %}
    {% set config_active = "active" %}
{% elseif root == "img" %}
    {% set photos_active = "active" %}
{% endif %}

{% if usericon == 0 %}
    {% set usericon_class="hide" %}
    {% set span_user_class="glyphicon glyphicon-user" %}
{% endif %}

<!-- 
Fixed navbar
    cores: navbar-[default|inverse]
    navbar-fixed-top|navbar-static-top|[vazio]|
 -->
<NAV>
	
	<div class="navbar navbar-default navbar-static-top col-xs-12 col-md-12"
		role="navigation">
		<div class="container col-xs-12 col-md-12">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{base_url()}}/">
				    {% include "app_name" %}
                    <span
					class="small label label-default">{% include 'release' %}</span> <span
					class="small label label-warning">{% include 'release_name'
						%}</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{{home_active}}"><a href="{{base_url()}}/home">Home</a></li>
					
					<li class=""><a href="{{base_url()}}/protected">Protected</a></li>
					
					<li class="dropdown {{config_active}}"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown">Menu<span
							class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="{{photos_active}}"><a
								href="{{path_for('hello')}}/paul">Hello, Paul</a></li>
							<li class="{{photos_active}}"><a
								href="{{path_for('hello')}}/john">Hello, John</a></li>
							
							<li class="divider"></li>
							<li class="{{photos_active}}"><a
								href="{{path_for('hello')}}/george">Hello, George</a></li>
							<li class="{{photos_active}}"><a
								href="{{path_for('hello')}}/starkey">Hello, Starkey</a></li>
							
							<li class="divider"></li>
							<li class="{{photos_active}}"><a
                                href="{{path_for('hello')}}">Menu Item</a></li>
							<li class="{{photos_active}}"><a
								href="{{path_for('hello')}}">Menu Item</a></li>
						</ul>
					</li>


				</ul>
				
				<ul class="nav navbar-nav navbar-right dropdown">
				{% if username is not empty %}
					<li class="dropdown-toggle"
                        data-toggle="dropdown">
                        <a href="#" class="">
                            <span class="badge">{{username}}</span>
                            <span class="caret"></span>
                        </a>
                    </li>
                    <ul class="dropdown-menu" role="menu">
	                    <li class="">
	                       <a href="{{path_for('logout')}}">Logout</a>
	                    </li>
                    </ul>
                {% else %}
                        <li class="nav navbar-nav">
                           <a href="{{path_for('login')}}" class=""><span class="glyphicon glyphicon-user"> </span> Login</a>
                        </li>
                {% endif %}
				</ul>
				
				<form class="navbar-form navbar-right" role="search">
			        <div class="input-group">
			             <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
					        <div class="input-group-btn">
					           <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					        </div>
			        </div>
		      </form>
		      
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</NAV>
